extends layout

block title
  | Edit Question
block content
  div(data-role="header")
    h1 Question #{question.id}
  div(data-role="content")
    form(action='submit',method='post')
      input(type="hidden", name="id", value=question.id)
      ul(data-role="listview", data-inset="true", data-divider-theme="a")
        li(data-role="list-divider") Question
        li: textarea(cols="40", rows="8", id="question", name="question") #{question.question}
        li(data-role="list-divider") Author
        li: input(type="text", id="author", name="author", value=question.author, readonly=true)
        li: fieldset.ui-grid-a
            div.ui-block-a
              a(href="/questions/", data-role="button") Cancel
            div.ui-block-b
              input(type="submit", value="Submit", data-theme="a")
